{% extends "layout.html" %}
{% block content %}
  <div class="home">
      <h2>Users</h2>
  </div>


    <div class="ucxn">
        Users last synchronized from Unity Connection Server: {{ipaddress}} at {{lastsynchronized}}
    </div>
    <div>

      <table border = 1>
        <tr>
            <th>Alias</th>
            <th>Extension</th>
            <th>Alternate Greeting</th>
            <th>VMO Enabled</th>
            <th>Enable/Disable VMO</th>
        </tr>


         {% for row in rows %}
            <tr>
               <td>{{row["Alias"]}}</td>
                <td>{{row["Extension"]}}</td>
                <td>{{row["AlternateGreetingEnabled"]}}</td>
                <td>{{row["Active"]}}</td>
			    <td class="text-right">
				    <div class="row">
					    <a class="btn" href="{{ url_for('toggle_status',emailid=row['Alias']) }}">Toggle VMO</a>

				    </div>
			    </td>


            </tr>
         {% endfor %}
      </table>

            <div class="selector">
        <br>
        <li><a href = "/syncdbs">Synchronize the User Table</a></li>
        <li><a href = "/clear-tables">Clear the User Table</a></li>
        <br>

            </div>
    </div>
{% endblock %}